@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Trirong:wght@100;300;400;500;600&display=swap");

@font-face {
  font-family: "Faune";
  font-weight: 400;
  src: url(/assets/faune-regular.woff2), url(/assets/faune-regular.woff);
}

@font-face {
  font-family: "Faune";
  font-weight: 400;
  font-style: italic;
  src: url(/assets/faune-italic.woff2), url(/assets/faune-italic.woff);
}

@font-face {
  font-family: "Faune";
  font-weight: 700;
  font-style: bold;
  src: url(/assets/faune-bold.woff2), url(/assets/faune-bold.woff);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  background-color: #2a2a2a;
  margin: 0 0 0 260px;
  overflow-y: hidden;
}

section.options {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 180px;
  background-color: #2a2a2a;
  border-right: 1px solid rgba(255, 255, 255, 0.25);

  padding: 40px;
}

h1 {
  font-weight: 700;
  font-size: 24px;
}

div.option {
  margin: 20px 0 0 0;
}

div.option-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  display: block;
  margin: 0 0 5px 0;
}

input[type="text"] {
  width: 100%;
  background-color: #575757;
  border: none;
  color: white;
  outline: none;
  padding: 5px 7px 5px 7px;
}

section.output {
  font-size: 64px;
  background: none;
  color: #ffffff;
  border: none;
  outline: none;
  min-height: 100vh;
  overflow: hidden;
  padding-left: 36px;
  padding-top: 20px;
}

select {
  width: 100%;
}

input[type="range"] {
  width: 100%;
}

label span {
  float: right;
  font-style: italic;
}

textarea.output {
  font-size: 64px;
  width: 10%;
  background: none;
  color: #ffffff;
  border: none;
  outline: none;
  min-height: 100vh;
}

div.colors {
  display: flex;
}

div.colors div {
  width: 30px;
  height: 30px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  line-height: 27px;
  text-align: center;
  margin: 5px 10px 0 0;
  transition: border 0.25s;
}

div.colors div.selected {
  border: 2px solid #ffffff;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #575757;
  border-radius: 50%;
  transition: background-color 0.5s;
}

input[type="checkbox"]:checked {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
}
